.laptop {
    width: 100%;
    height: 83%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.laptop-screen {
    position: relative;
    left: 7%;
    height: 75%;
    width: 75%;
    background-color: #131a34;
    border-radius: 2vw 2vw 0 0;
    padding: 3.5%;
    left: 50%;
    transform: translateX(-50%);
}

.laptop-content {
    position: relative;
    top: 5%;
    width: 100%;
    height: 94%;
    background-color: #37474F;
    font-size: .5em;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    padding: 5% 12.5%;
    box-sizing: border-box;
}

.laptop-base {
    background-color:  #e6e7e8;
    height: 7%;
    border-radius: 0 0 1vw 1vw;
    box-shadow: 0 0 20px 7px rgba(47, 48, 49, 0.38);
}

.laptop-trackpad {
    position: relative;
    left: 50%;
    background-color: #bcbdc1;
    width: 20%;
    height: 30%;
    border-radius: 0 0 1vw 1vw;
    transform: translateX(-50%);
}

@media (max-width:992px){

    .laptop {
        width: 50%;
    }
}

@media (max-width:576px) {

    .laptop {
        width: 90%;
        height: 70%;
    }

    .laptop-content {
        padding: 2% 10%;
    }
}