body{
	margin: 0px;
}

.bio-container{
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    clear: both;
    overflow: hidden;
}

.bio-image {
    display: inline-block;
    margin-top: 5vh;
    width: 20%;
    vertical-align: top;
}

.mainbio {
    display: inline-block;
    margin-top: 5vh;
    margin-left: 5%;
    width: 74%;

    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.top-paragraph {
    margin-block-start: 0em;
}

.portfolio-link{
    margin-top: 5vh;
}

@media (max-width:1014px){
    .bio-image {
        width: 40%
    }

    .mainbio {
        width: 40%;
        margin-left: 50px;
        padding-top: 0;
    }
}

@media (max-width:768px) {

    .bio-container{
        width: 100%;
        padding-left: 0%;
        padding-left: 0%;
    }

    .bio-image {
        width: 50%;
        float: none;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 0vh;
    }

    .mainbio {
        float: none;
        width: auto;
        margin: 0 auto;
        padding: 30px 0px;
    }
}