.rowone {
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30px;
    clear: both;
    overflow: hidden;
}

.rowtwo{
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    clear: both;
    overflow: hidden;
}

.project {
    width: 30%;
}

.responsive{
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
}

.responsive:hover {
    opacity: 0.85;
}

#projectone, #projecttwo, #projectthree, #projectfour, #projectfive, #projectsix {
    float: left;
    position: relative;
}

@media (min-width:768px) {

    #projectone, #projectfour {
        margin-right: 5%;
    }

    #projectthree, #projectsix {
        margin-left: 5%;
    }

    .rowtwo{
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width:768px) {
    .project {
        width: 80%;
        float: none;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
    }

    .rowone, .rowtwo {
        width: 100%;
    }
}

/*.projectlabel {
    position: absolute;
    margin-top: -45px;
    width: 200px;
    height: 35px;
    background: #4aaaa5; 

    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}