body{
	margin: 0px;
}

.rowone {
	width: 96%;
	height: auto;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 8vh;
	clear: both;
	overflow: hidden;
}

.rowtwo, .rowthree{
	width: 96%;
	height: auto;
	padding-left: 2%;
	padding-right: 2%;
	clear: both;
	overflow: hidden;
}

.project {
	width: 30%;
	float: left;
	position: relative;
}

.responsive{
	width: 100%;
	border-radius: 3px;
}

.responsive:hover {
	opacity: 0.85;
}

@media (min-width: 992px) {
	.rowone, .rowtwo, .rowthree{
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (min-width:768px) {

	#projectone, #projectfour, #projectseven {
		margin-right: 5%;
	}

	#projectthree, #projectsix, #projectnine {
		margin-left: 5%;
	}

	.rowtwo, .rowthree{
		margin-top: 20px;
	}

	.rowtwo{
		margin-bottom: 8vh;
	}
}

@media (max-width:768px) {
	.project {
		width: 90%;
		float: none;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 20px;
	}

	.rowone, .rowtwo {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.rowone {
		margin-top: 5vh;
	}
}

/*.projectlabel {
	position: absolute;
	margin-top: -45px;
	width: 200px;
	height: 35px;
	background: #4aaaa5; 

	color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
}