body{
	margin: 0px;
}

#contact-title {
    width: 35%;
    padding: 0px 5%;
    box-sizing: border-box;
}

#contact-content {
    width: 65%;
}

.contact-form {
    width: 80%;
    max-height: 80%;
    position: relative;
    margin: 8vh auto;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.textbox {
    border: 1px solid #777777;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

label {
    display: block;
    text-align: left;
    color: #333;
    font-size: 13px;
}

input, textarea {
    width: 100%;
    max-height: 120px;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#button-row {
    display: flex;
    justify-content: center;
}

.sendbutton {
    display: inline-block;
    background: #25486C;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 25%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

@media (max-width:768px) {
    .contact-form {
        width: 100%;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 50px
    }

    #contact-title {
        width: 100%;
        margin-top: 50px;
    }

    #contact-content {
        width: 100%
    }
}